@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos&family=Titan+One&display=swap'); /*Police d'écriture*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    background:linear-gradient(to top,#5f97f1,#1149e4);
    min-height:100vh;
    
}
main{
    display:grid;
    grid-template-columns: 1fr 2fr; 
    gap:20px; 
    padding:20px; 
}
.ligne1{
    background:#ffffff33;
    margin :20px 0px;
    border:2px solid #e7e7e7;
    padding:20px;
    border-radius:10px;
    color:#fff;
    font-size:20px;
    height: 400px;
}
.ligne2{
    background:#ffffff33;
    border:2px solid #e7e7e7;
    padding:20px;
    border-radius:10px;
    color:#fff;
    font-size:20px;
    height: 400px;
}
form{
    margin: 10px 10px;
    display: grid;
    font-weight: bold;
    margin: 5px;
}
form input{
    height: 25px;
    border-radius: 5px;
    display: grid;
    font-weight: bold;
    margin: 5px;
    padding-left: 10px;
    border: none;
}
#commentaire{
    height: 50px;
    text-align: start;
}
button{
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 150px;
    margin: 0 auto;
    height: 35px;
    transition: 0.2s ease-in-out;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: #1149e4;
    font-weight: bold;
    transform: scale(1.10);
    cursor: pointer;
}
.col1 h1 {
    font-family: "Titan One", sans-serif;
}

.intro{
    color:#fff;
    margin: 40px 20px;
    text-align:start;
    font-family: "Playpen Sans Thai", cursive;
    font-size:22px;
}


.col2{
    padding:20px;
    color:#fff;
    font-size:20px;
    height: 800px;
}

.col2 img{
    width: 70vw;        /* 80% de la largeur de l’écran */
    max-width: 1500px;  /* limite maximale sur grand écran */
    border-radius: 10px;
    opacity: 90%;
}

.col3{
    background:#ffffff33;
    border:2px solid #e7e7e7;
    padding:20px;
    border-radius:10px;
    color:#fff;
    font-size:20px;
    height: 800px;
}


header{
    width:100%;
    height:75px;
    background:#e7e7e7;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
}
.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{color:#1149e4}

